# Flask
Flask==2.3.2
flask-cors==3.0.10
python-dotenv==1.0.0
werkzeug==3.0.1

# Database
pymongo==4.4.0

# OCR
pytesseract==0.3.10
Pillow==10.0.0
pdf2image==1.16.0

# API Calls
google-generativeai==0.7.1
requests==2.31.0 # Kept for potential future use

# News Fetching
feedparser==6.0.11 # <-- ADD THIS LINE